@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid hero-section1">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8">
				<h1 class=" mt-5" style="color: #013232; font-size: 90px; line-height: 80px; letter-spacing: -1px; margin-left: 90px; vertical-align: middle; font-weight: 900;">
					Digital Group<br>Savings,Made<br>Easy
				</h1>
				<p style="font-size: 20px; color: #013232; line-height: 32px; letter-spacing: 0px; margin-left: 92px; font-weight: 500; margin-top: 25px; margin-bottom: 100px;">Save smarter, together! Automate your contributions, track<br> savings with full transparency, and enjoy secure financial<br> management for Ajo, Esusu, or thrift savings groups.</p>

				<!-- Button -->
				<div class="d-flex justify-content-start justify-content-md-start mt-4">
					<a href="#" class="btn" style="background-color: #0AB70A; color: black; border-radius: 30px; padding: 12px 32px; font-weight: 600; font-size: 16px; margin-left: 92px;">
						Join Wait List
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid hero-section2" style="background-color: #013232; height: 767px; padding-top: 100px;">

	<h6 style="color: #FFFFFF; font-size: 40px; letter-spacing: -1.36px; padding-top: 110px; padding-left: 180px; line-height: 46px; vertical-align: middle;">Secure & Smart Money<br/> Transfers with WeSave</h6>
	<p style="color: #7A7B7A; font-size: 20px; padding-top: 15px; padding-left: 180px; padding-bottom: 15px;">Your hard-earned money deserves safe and <br />cost-effective transfers. Whether you're sending<br />50 euros or 50,000 dollars, WeSave ensures<br /> secure, transparent transactions without hidden<br />fees.</p>
	<!-- Button -->
	<div class="d-flex justify-content-start justify-content-md-start mt-4" style="padding-left: 180px;">
		<a href="#" class="btn" style="background-color: #0AB70A; color: black; border-radius: 30px; padding: 12px 32px; font-weight: 600; font-size: 16px;">
			Learn how to save
		</a>
	</div>
	 
</div>
<div class="container-fluid hero-section3" style="background-color: #FFFFFF; height: 767px;">

	<h6 style="color: #013232; font-size: 60px; font-weight: 900;vertical-align: middle; letter-spacing: -1.36px; padding-top: 110px; padding-left: 700px; line-height: 46px; vertical-align: middle;">About us</h6>
	<p style="color: #7A7B7A; font-size: 20px; padding-top: 15px; padding-left: 700px; padding-bottom: 15px;">At WeSave, we believe in the power of community-<br />driven savings. Inspired by traditional savings<br /> practices like Ajo and Esusu, we have created a<br /> secure, transparent, and automated platform that<br /> allows individuals to collaborate, pool resources, and<br /> achieve financial stability together.</p>
	<!-- Button -->
	<div class="d-flex justify-content-start justify-content-md-start mt-4" style="padding-left: 700px;">
		<a href="#" class="btn" style="background-color: #0AB70A; color: black; border-radius: 30px; padding: 12px 32px; font-weight: 600; font-size: 16px;">
			Join us now
		</a>
	</div>
	<div class="container" style="width: 800px; height: 400px; border-radius: 60px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); background-color: #FFFFFF; margin-top: 150px;">
		<h6 style="color: #013232; font-size: 44px; font-weight: 700;vertical-align: middle; letter-spacing: -1.36px; padding-top: 80px; text-align: center; line-height: 46px; vertical-align: middle;">Our Mission</h6>
		<p style="color: #7A7B7A; font-size: 17px; padding-top: 50px; padding-left: 40px; padding-bottom: 15px;">&nbsp;&nbsp;&nbsp;&nbsp; WeSave is committed to revolutionizing group savings by providing a secure,<br /> transparent, and automated platform for communities to collectively save and grow<br /> wealth. Inspired by traditional savings practices like Ajo and Esusu, we enable users<br />&nbsp;&nbsp; to build trusted savings circles, set financial goals, and benefit from structured<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; contributions that drive economic empowerment.</p>
	</div>

	<div class="container" style="width: 800px; height: 400px; border-radius: 60px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); background-color: #FFFFFF; margin-top: 100px;">
		<h6 style="color: #013232; font-size: 44px; font-weight: 700;vertical-align: middle; letter-spacing: -1.36px; padding-top: 80px; text-align: center; line-height: 46px; vertical-align: middle;">Our Vision</h6>
		<p style="color: #7A7B7A; font-size: 17px; padding-top: 50px; padding-left: 40px; padding-bottom: 15px;">
			We envision a future where financial inclusion and collective wealth-building<br />&nbsp; &nbsp; &nbsp; empower communities. Through WeSave’s group saving technology,<br /> &nbsp; &nbsp; &nbsp; individuals can pool resources, achieve financial security, and create<br />&nbsp;  sustainable economic opportunities—all while maintaining the essence of<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  traditional community-driven savings.
		</p>
	</div>
	<div class="container-fluid hero-section4" style="background-color: #013232; height: 3000px;">
		<h6 style="color: #FFFFFF; font-size: 44px; letter-spacing: -1.36px; padding-top: 110px; padding-left: 180px; line-height: 46px; vertical-align: middle;">Group Savings<br /> Mechanism</h6>
		<p style="color: #7A7B7A; font-size: 20px; padding-top: 15px; padding-left: 180px;">
			Create & Manage Groups: Users can form savings<br /> circles with family, friends, or community<br /> members.
		</p>
		<p style="color: #7A7B7A; font-size: 20px; padding-left: 180px;">Shared Goals: Tools to set common savings<br /> targets and track collective progress.</p>
		<p style="color: #7A7B7A; font-size: 20px; padding-left: 180px;">Automated Contributions: Enable group members<br /> to schedule regular inputs automatically.</p>
		
			<hr style="border: none; border-top: 1px solid white;" />

		<h6 style="color: #0AB70A; font-size: 44px; font-weight: 900;vertical-align: middle; letter-spacing: -1.36px; padding-top: 110px; padding-left: 700px; line-height: 46px; vertical-align: middle;">Intuitive Onboarding<br /> & Account Setup</h6>
		<p style="color: #7A7B7A; font-size: 20px; padding-top: 15px; padding-left: 700px;">Easy Registration: A streamlined sign-up<br /> process that welcomes new users with minimal<br /> friction.</p>
		<p style="color: #7A7B7A; font-size: 20px; padding-left: 700px;">User-Friendly Dashboard: A clean interface<br /> where users quickly understand their savings<br /> status, group participation, and available tools.</p>

		<hr style="border: none; border-top: 1px solid white;" />

		<h6 style="color: #FFFFFF; font-size: 44px; letter-spacing: -1.36px; padding-top: 110px; padding-left: 180px; line-height: 46px; vertical-align: middle;">Automated & <br /> Smart Savings</h6>
		<p style="color: #7A7B7A; font-size: 20px; padding-top: 15px; padding-left: 180px;">
			Savings Automation: Utilize algorithms to<br /> optimize savings deposits and manage recurring<br /> contributions.
		</p>
		<p style="color: #7A7B7A; font-size: 20px; padding-left: 180px;">Smart Savings Calculator: An interactive tool that<br /> compares potential savings against traditional<br /> banking fees, giving users transparency and a<br /> clear picture of how much they’re saving.</p>

		<hr style="border: none; border-top: 1px solid white;" />

		<h6 style="color: #0AB70A; font-size: 44px; font-weight: 900;vertical-align: middle; letter-spacing: -1.36px; padding-top: 110px; padding-left: 700px; line-height: 46px; vertical-align: middle;">Low-Cost, Transparent <br /> Transfers</h6>
		<p style="color: #7A7B7A; font-size: 20px; padding-top: 15px; padding-left: 700px;">Zero Hidden Fees: A transparent fee structure<br />  where users see exactly what they’re paying—<br /> no surprises.</p>
		<p style="color: #7A7B7A; font-size: 20px; padding-left: 700px;">Instant Global Transactions: Quick and secure <br />  transfers for both local and international <br />  transactions, ensuring funds move efficiently.</p>

		<hr style="border: none; border-top: 1px solid white;" />

		<h6 style="color: #FFFFFF; font-size: 44px; letter-spacing: -1.36px; padding-top: 110px; padding-left: 180px; line-height: 46px; vertical-align: middle;">Enhanced<br /> Security & Trust</h6>
		<p style="color: #7A7B7A; font-size: 20px; padding-top: 15px; padding-left: 180px;">
			Bank-Level Encryption: Protect every transaction<br /> using state-of-the-art encryption and fraud<br /> prevention technologies.
		</p>
		<p style="color: #7A7B7A; font-size: 20px; padding-left: 180px;">Compliance & Certifications: Regular audits and<br /> certifications to build and maintain trust across<br /> the platform</p>

		<hr style="border: none; border-top: 1px solid white;" />

		<h6 style="color: #0AB70A; font-size: 44px; font-weight: 900;vertical-align: middle; letter-spacing: -1.36px; padding-top: 110px; padding-left: 700px; line-height: 46px; vertical-align: middle;">Real-Time Alerts & <br /> Analytics</h6>
		<p style="color: #7A7B7A; font-size: 20px; padding-top: 15px; padding-left: 700px;">Transaction Notifications: Immediate alerts that<br /> keep users updated about their deposits,<br /> withdrawals, and group activities.</p>
		<p style="color: #7A7B7A; font-size: 20px; padding-left: 700px;">Performance Tracking: Detailed insights and<br /> analytics on savings growth, helping users to <br />adjust their strategies and reach their goals<br /> faster.</p>
	</div>



</div>




@* <footer class="border-top footer text-muted">
	<div class="container">
		&copy; 2025 - WeSave - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</div>
</footer> *@
