html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Inter', sans-serif;
}
.hero-section1 {
	background-image: url('/images/Hero Section background.png'); /* Replace with your actual image path */
	background-size: cover;
	background-position: center;
	height: 600px; /* Adjust height as needed */
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}